@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="contact" id="contact">

    <h1 class="heading"><span>contact</span> us</h1>

    <div class="row">

        <div class="image">
            <img src=@Url.Content("~/images/contact.png") alt="">
        </div>

        <form action="">
            <h3>get in touch</h3>
            <div class="inputBox">
                <input type="text" placeholder="Your Name">
                <input type="email" placeholder="Your Email">
            </div>
            <div class="inputBox">
                <input type="number" placeholder="Your Number">
                <input type="text" placeholder="Your Subject">
            </div>
            <textarea placeholder="Your Message" cols="30" rows="10"></textarea>
            <input type="submit" value="send message" class="btn">
        </form>

    </div>

</section>