<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete Responsive Shoes Website Tutorial</title>
    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- swiper js cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <!-- custom css file link  -->
    <link rel="stylesheet" href=@Url.Content("~/css/style.css")>
</head>
<body>
    @await Html.PartialAsync("Partial/Header")

    <!-- home section starts -->

    <section class="home" id="home">

        <div class="slides-container">
            
            <div class="slide active">
                <div class="content">
                    <span>new winter</span>
                    <h3>shoes collection</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim consequatur reprehenderit.</p>
                    <button class="btn">
                        <span>shop now</span>
                        <i class="fas fa-arrow-right"></i>
                    </button>
                </div>
                <div class="image">
                    <img src=@Url.Content("~/images/header-1.png") alt="">
                </div>
            </div>

            <div class="slide">
                <div class="content">
                    <span>new winter</span>
                    <h3>shoes collection</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim consequatur reprehenderit.</p>
                    <button class="btn">
                        <span>shop now</span>
                        <i class="fas fa-arrow-right"></i>
                    </button>
                </div>
                <div class="image">
                    <img src=@Url.Content("~/images/header-2.png") alt="">
                </div>
            </div>

        </div>

        <div id="slide-next" onclick="next()" class="fas fa-angle-right"></div>
        <div id="slide-prev" onclick="prev()" class="fas fa-angle-left"></div>

    </section>

    <!-- home section ends -->
    @RenderBody()
    <!-- latest product section starts -->

    <section class="products" id="products">

        <h1 class="heading"><span>latest</span> products</h1>

        <div class="box-container">

            <div class="box">
                <div class="image">
                    <img src=@Url.Content("~/images/product-1.png") alt="">
                </div>
                <div class="content">
                    <h3>nike shoes</h3>
                    <div class="price">$170.00</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <span>(50)</span>
                    </div>
                    <a href="#" class="btn"> <i class="far fa-heart"></i></a>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src=@Url.Content("~/images/product-2.png") alt="">
                </div>
                <div class="content">
                    <h3>nike shoes</h3>
                    <div class="price">$170.00</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <span>(50)</span>
                    </div>
                    <a href="#" class="btn"> <i class="far fa-heart"></i></a>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src=@Url.Content("~/images/product-3.png") alt="">
                </div>
                <div class="content">
                    <h3>nike shoes</h3>
                    <div class="price">$170.00</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <span>(50)</span>
                    </div>
                    <a href="#" class="btn"> <i class="far fa-heart"></i></a>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src=@Url.Content("~/images/product-4.png") alt="">
                </div>
                <div class="content">
                    <h3>nike shoes</h3>
                    <div class="price">$170.00</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <span>(50)</span>
                    </div>
                    <a href="#" class="btn"> <i class="far fa-heart"></i></a>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src=@Url.Content("~/images/product-5.png") alt="">
                </div>
                <div class="content">
                    <h3>nike shoes</h3>
                    <div class="price">$170.00</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <span>(50)</span>
                    </div>
                    <a href="#" class="btn"> <i class="far fa-heart"></i></a>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src=@Url.Content("~/images/product-6.png") alt="">
                </div>
                <div class="content">
                    <h3>nike shoes</h3>
                    <div class="price">$170.00</div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <span>(50)</span>
                    </div>
                    <a href="#" class="btn"> <i class="far fa-heart"></i></a>
                </div>
            </div>

        </div>

    </section>

    <!-- latest product section ends -->

    <!-- banner section starts -->

    <section class="banner-container">

        <div class="banner">
            <img src=@Url.Content("~/images/banner1.jpg") alt="">
            <div class="content">
                <span>limited offer</span>
                <h3>upto 40% off</h3>
                <button class="btn">
                    <span>shop now</span>
                    <i class="fas fa-arrow-right"></i>
                </button>
            </div>
        </div>

        <div class="banner">
            <img src=@Url.Content("~/images/banner2.jpg") alt="">
            <div class="content">
                <span>limited offer</span>
                <h3>upto 40% off</h3>
                <button class="btn">
                    <span>shop now</span>
                    <i class="fas fa-arrow-right"></i>
                </button>
            </div>
        </div>

    </section>

    <!-- banner section ends -->

    <!-- contact section starts -->

    <section class="contact" id="contact">

        <h1 class="heading"><span>contact</span> us</h1>

        <div class="row">

            <div class="image">
                <img src=@Url.Content("~/images/contact.png") alt="">
            </div>

            <form action="">
                <h3>get in touch</h3>
                <div class="inputBox">
                    <input type="text" placeholder="Your Name">
                    <input type="email" placeholder="Your Email">
                </div>
                <div class="inputBox">
                    <input type="number" placeholder="Your Number">
                    <input type="text" placeholder="Your Subject">
                </div>
                <textarea placeholder="Your Message" cols="30" rows="10"></textarea>
                <input type="submit" value="send message" class="btn">
            </form>

        </div>

    </section>

    <!-- contact section ends -->
    @await Html.PartialAsync("Partial/Footer")

    <!-- swiper js cdn link -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

    <!-- custom js file link  -->
    <script src=@Url.Content("~/js/script.js")></script>
</body>
</html>