@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
	h2 {
		text-align: center;
		margin: 300px 0;
	}
</style>
<h2 >You are not have permission to access this page. Please contact the administrator if you believe this is a mistake.</h2>