@model SoccerShoesShop.Models.Account
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Dashboard 3</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="@Url.Content("~/lib/bootstrap/dist/css/all.min.css")">
    <!-- IonIcons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/lib/bootstrap/dist/css/adminlte.min.css")">
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="../../index2.html"><b>Admin</b>LTE</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Register</p>

                <form asp-action="Register" method="post">
                    <div class="input-group mb-3">
                        <input type="text" asp-for="Username" class="form-control" placeholder="Username">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" asp-for="Password" class="form-control" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Register</button>
                        </div>
                        <div class="col-12" style="margin: 10px 0px">
                            <button asp-controller="Account" asp-action="Login" class="btn btn-danger btn-block">Cancel</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
    <script src=@Url.Content("~/lib/jquery/dist/jquery.min.js")></script>
    <!-- Bootstrap -->
    <script src=@Url.Content("~/lib/bootstrap/dist/js/bootstrap.bundle.min.js")></script>
    <!-- AdminLTE -->
    <script src=@Url.Content("~/js/adminlte.js")></script>

    <!-- OPTIONAL SCRIPTS -->
    <script src="plugins/chart.js/Chart.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src=@Url.Content("~/js/demo.js")></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src=@Url.Content("~/js/dashboard3.js")></script>
</body>
</html>