    <!-- header section starts -->
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Cookies
<header class="header">

    <a href="#" class="logo"> <i class="fas fa-shoe-prints"></i> shoes</a>

    <nav class="navbar">
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Menu" asp-action="Index">Products</a>
        <a href="#review">review</a>
        <a href="#contact">contact</a>
    </nav>

    <div class="icons">
        <div id="menu-btn" class="fas fa-bars"></div>
        <div id="search-btn" class="fas fa-search"></div>
        <a href="@Url.Action("Index", "Cart")" class="fas fa-shopping-cart"></a>
        @if(!User.Identity.IsAuthenticated)
        {
            <a asp-controller="Account" asp-action="Login">
                <div class="fas fa-user" id="login-btn"></div>
            </a>
        }

        @if (User.Identity.IsAuthenticated)
        {
            <a asp-controller="Account" asp-action="Logout">
                <div class="fas fa-sign-out-alt" id="logout-btn"></div>
            </a>
        }
    </div>

    <form action="" class="search-form">
        <input type="search" name="" id="search-box" placeholder="search here...">
        <label class="fas fa-search"></label>
    </form>

</header>

<!-- header section ends -->