@model SoccerShoesShop.Models.Category
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<form asp-controller="Category" asp-action="@(Model.CategoryId == 0 ? "Create" : "Edit")" method="POST">
    <div class="form-group">
        <label asp-for="CategoryId">ID</label>
        <input asp-for="CategoryId" class="form-control" readonly/>

        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>