@model IEnumerable<SoccerShoesShop.Areas.Admin.Models.Product>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .no-products {
        text-align: center;
        font-size: 1.5rem;
        color: #ff4d4d;
        margin-top: 20px;
    }
</style>
<section class="products" id="products">

    <h1 class="heading"><span>latest</span> products</h1>

    <div class="box-container">
        @if(Model is null || !(Model.Any()))
        {
            <div class="no-products">
                <h2>No products available</h2>
            </div>
        } else
        {
            @foreach (var product in Model)
            {
                <div class="box">

                    <div class="image">
                        <img src=@Url.Content($"~{product.Image}") alt="">
                    </div>
                    <div class="content">
                        <h3>@product.Name</h3>
                        <div class="price">@product.SellingPrice</div>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <span>Quantities : @product.Quantity</span>
                        </div>
                        <div>
                            @if (product.Quantity <= 0)
                            {
                                <span style="display: flex; justify-content: center; color: red; font-size: 20px;">Sold Out</span>
                            } else
                            {
                                <span class="btn">Add To Cart <i class="fa-solid fa-cart-shopping"></i> </span>
                            }
                        </div>

                    </div>
                </div>
            }
        }
    </div>

</section>